* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: libre franklin;
  color:rgb(46,66,99);
  background-image: url(assets/bg.png);
  background-size: 200px;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
  margin: 0px 5px;
}

a, a:visited {
  /*color: rgb(46,66,99);*/
  color: #E7955D;
}

header {
  text-align: center;
  width: 100%;
  padding: 10px;
  background-color: rgb(46,66,99);
  color: white;
}

h1 {
  font-family: teko;
  font-size: 72pt;
}

iframe {
  margin: 15px;
}

section {
  background-color: rgba(125, 112, 186,.5);
  padding: 15px;
  margin: 15px 0;
}

@media screen and (min-width: 768) {
}

/*illustrations*/
#visdev, #gallery {
  align-items:center;
  text-align:center;
  width:800px !important;
  margin:20px auto;
  /*background: rgba(46,66,99,0.25);*/
}
.carousel {
  max-width:90%;
  padding:15px;
  background:#fff;
  border:2px solid rgba(46,66,99,0.5);
  margin:0 auto 20px;
}
.carousel-indicators li {
  background:#bbb;
}
.carousel-indicators li.active {
  background:rgb(220,105,94);
}
.carousel-control-prev-icon {
  background: transparent no-repeat center center url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
  margin-right:50px;
}
.carousel-control-next-icon {
  background: transparent no-repeat center center url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23666' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
  margin-left:50px;
}
.img-thumbnail {
  max-width:30%;
  padding:5px;
  border:2px solid rgba(46,66,99,0.5);
  margin:10px;
}

/*contact form*/
textarea {
  resize:none;
  width:480px;
  height:240px;
}

/*footer*/
footer {
  text-align: center;
  font-weight:bold;
}


i.far, i.fab {
  font-size: 30pt;
  background:rgba(255,255,255,0.5);
  color:rgb(46,66,99)
}
i.far:hover, i.fab:hover {
  color: #E7955D;
}