* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: libre franklin;
  color:rgb(46,66,99);
  background-image: url(assets/bg.png);
  background-size: 200px;
}

ul {
  list-style: none;
}
ul li {
  display: inline-block;
}

a, a:active, a:visited {
  color: rgb(220,105,94);
}
a:hover {
  color:yellow;
}


header {
    text-align: center;
    width: 100%;
    padding: 10px;
    background-color: rgb(46,66,99);
    color: white;
}

h1 {
  font-family: teko;
  font-size: 72pt;
}

iframe {
  margin: 15px;
}


a:visited {
  color: rgb(220,105,94);
}

@media screen and (min-width: 768) {
  
}
/*illustrations*/
#art {
  background: rgba(46,66,99,0.25);
}
.thumb {
  background:#fff;
  width:300px;
  height:200px;
  margin:10px;
  border:2px solid rgba(46,66,99,0.5);
  padding:5px;
}

/*form*/
textarea {
  resize:none;
  width:480px;
  height:240px;
}

/*footer*/
footer {
  text-align: center;
  font-weight:bold;
}
i.far, i.fab {
  font-size: 30pt;
  background:rgba(255,255,255,0.5);
}
i.far:hover, i.fab:hover {
  color: rgb(46,66,99);
>>>>>>> b5cbecc8db73195307d89e4d4c4fa24d1281eae7
}